/* ========== Google Fonts ========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Karla:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');


/* ========== Element Styles ========== */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* margin-top: -0.375rem; */
  margin: 0;
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 3vh;
  color: #3F3F46;
  background: linear-gradient(136deg, rgb(68, 132, 206), rgb(26,176,215), rgb(255,209,124), rgb(155, 89, 182), rgb(255, 127, 127), rgb(236, 240, 241)) 0% 0% / 1200% 1200%;
  animation: gradient 30s ease-out infinite alternate-reverse;
}
h1 {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 4.8rem;
  font-weight: 500;
  padding: 1.6rem;
}
h2 {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 500;
}
h3 {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  /* margin-top: 2rem; */
}
h4 {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  margin: .25rem 0;
}
p {
  font-size: 1.125rem;
  font-weight: 450;
  z-index: 1;
  position: relative;
}
section {
  padding: 6.375rem 0;
}
img {
  z-index: 1;
  position: relative;
}

/* ========== Utilities ========== */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 86rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.reveal{
  opacity: 0;
  transform: translate3d(0,100px,0);
  transition: opacity 0.8s, transform 0.8s;
}
.reveal.active{
  opacity: 1;
  transform: translate3d(0,0,0);
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #3F3F46;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.button-5:hover,
.button-5:focus {
  background-color: #3F3F46;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.button-5:hover {
  transform: translateY(-1px);
}
.button-5:active {
  background-color: #313131;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Source Code Button */
.button-6 {
  align-items: center;
  background-clip: padding-box;
  background-color: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-sizing: border-box;
  color: #3F3F46;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  transition: text-shadow .3s;
}

.button-6:hover,
.button-6:focus {
  text-shadow: 0 0 .3px #3F3F46, 0 0 .3px #3F3F46;
}

.button-6:active {
  background-color: none;
  transform: translateY(0);
}
.portfolio_left .no_demo {
  padding: .875rem 0 .875rem 1.5rem;
}
.portfolio_right .no_demo {
  padding: .875rem 1.5rem .875rem 0;
}

/* ========== Navigation Section ========== */
.navbar {
  font-family:  'Rubik', sans-serif;
  position: fixed;
  height: 4rem;
  width: 100%;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.10));
  z-index: 2;
  transition: .3s ease-in-out;
}

.nav-wrapper {
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  margin-right: auto;
  color: #fff;
  opacity: 0.9;
  font-weight: 600;
  background: none;
}
.nav-logo span:hover {
  transition: color .3s ease-in-out;
  color: #3F3F46;
  background: transparent;
}
.nav-wrapper .nav-menu {
  font-size: 1.1rem;
  color: #fff;
  display: flex;
  font-weight: 500;
  transition: .2s ease-in-out;
}
.nav-menu .nav-item .nav-link {
  display: inline-block;
  margin: 0 .25rem;
  transition: .2s ease-in-out;
  vertical-align: middle;
  border-radius: .25rem;
  padding: .5rem;
  text-transform: uppercase;
}
.nav-menu .nav-item .nav-link:hover,
.nav-menu .nav-item .nav-link.active {
  color: #fff;
  background: #3F3F46;
  transition: 0.5s ease-out;
}
.change-theme {
  font-size: 1.4rem;
  cursor: pointer;
  transition: .3s;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

   
/* ========== Hero Section ========== */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 1em;
  box-sizing: border-box;
  color: #fff;
}
.hero_wrapper {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hero_wrapper h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero_wrapper h3 {
  font-family: 'Karla', sans-serif;
  text-transform: none;
  color: #fff !important;
  font-size: 2.8rem !important;
  margin-top: 2rem !important;
  text-align: center !important;
}
.hero_animated span {
  display: inline-block;
  vertical-align: top;
  color: #3F3F46;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  animation: BottomTotop 8s linear infinite 0s;
}
.hero_animated span:nth-child(2n+2) {
  animation-delay: 2s;
}
.hero_animated span:nth-child(3n+3) {
  animation-delay: 4s;
}
.hero_animated span:nth-child(4n+4) {
  animation-delay: 6s;
}

/* Hero Footer */
.hero_footer i {
  font-size: 2.125rem;
  margin: 0 0.75rem;
  transition: .3s ease-in-out 0s;
}
.hero_footer i:hover {
  cursor: pointer;
  color: #3F3F46;
  transform: scale(1.25);
  }
.hero_learn_more {
  margin: 4rem 0 0;
}
.hero_footer {
  display: flex;
  margin-bottom: 1em;
}


/* ========== ABOUT SECTION ==========*/
.about {
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
/* Create 2 equal columns */
.about_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
}
.about_column {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}
.about_img img {
  display:block;
  margin:auto;
  width: 300px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.about_column h3 {
  margin-top: 0;
  margin: 0rem 0rem 1rem 0rem;
}
.about_column p {
  margin: 1rem 0rem;
  font-size: 1.125rem;
  line-height: 1.2;
  transition: .3s;
  text-align: justify;
  max-width: 100%;
}

.about_column a {
  margin: 1rem 0rem;
  transition: .3s;
}

/* Responsive Columns Layout - columns stack in mobile */
@media screen and (max-width: 600px) {
  .about_row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
  }
  .about_column h3 {
    margin: 1rem 0rem;
  }
}


/* ========== Toolkit Section ========== */
.toolkit {
  background: #f6f6f6;
  z-index: 1;
  position: relative;
  padding-top: 3.75rem;
}
.toolkit_wrapper {
	width: 100%;
	margin: 0 auto;
}
.container-icons {
  text-align: center;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container-icons .box-icon {
  width: 20%;
  height: 6rem;
  margin-bottom: 2rem;
}
.container-icons .box-icon p {
  font-size: 1rem;
}
.container-icons .devicon, 
.container-icons .fab, 
.container-icons .fas, 
.container-icons .fa {
  color: #3F3F46;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  font-size: 4rem;
}
@media screen and (max-width: 600px) {
  .container-icons .box-icon {
    width: 50%;
  }
}

/* ========== Keyframes Animations ========== */
@keyframes gradient {
  0% { background-position: 0% }
  100% { background-position: 100% }
}
@keyframes BottomTotop {
  0% { opacity: 0; }
  5% { opacity: 0; transform: translateY(5px); }
  10% { opacity: 1; transform: translateY(0px); }
  25% { opacity: 1; transform: translateY(0px); }
  30% { opacity: 0; transform: translateY(5px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

#tsum-tabs h2 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

#tsum-tabs p {
  margin: 0 0 20px;
  line-height: 1.5;
}

#tsum-tabs main {
  z-index: 1;
  position: relative;
  padding: 2.5rem;
  margin: 0 auto;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 4px 8px 19px -3px rgb(0 0 0 / 27%);
  box-shadow: 4px 8px 19px -3px rgb(0 0 0 / 27%);
}

#tsum-tabs section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

#tsum-tabs input {
  display: none;
}

#tsum-tabs label {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 15px;
  font-size: 1.4rem;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#tsum-tabs label:before {
  font-weight: normal;
  margin-right: 10px;
}

#tsum-tabs label:hover {
  color: #888;
  cursor: pointer;
}

#tsum-tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

#tsum-tabs #tab1:checked ~ #content1,
#tsum-tabs #tab2:checked ~ #content2 {
  display: block;
}

@media screen and (max-width: 650px) {
  #tsum-tabs main {
    padding: 20px;
  }
  #tsum-tabs label {
    font-size: 16px;
  }
  #tsum-tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  #tsum-tabs label {
    padding: 15px;
  }
}

/* ========== Skills Section =========== */
/* Create two equal columns */
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.column {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
  .column {
    padding: 10px 0;
  }
}

.skills {
	width: 100%;
}

.skill-name {
	font-size: 16px;
	font-weight: 500;
	color: #3F3F46;
  background: #fff;
	text-transform: uppercase;
	padding-top: 1.25rem;
  padding-bottom: 0.375rem;
}

.skill-bar {
	height: 14px;
	background: #e4e4e7;
	border-radius: 3px;
}

.skill-per {
	height: 14px;
	background: #3F3F46;
	border-radius: 3px;
	position: relative;
}

.skill-per::before {
	content: attr(per);
	position: absolute;
	padding: 3px 6px;
	background: #e4e4e7;
	color: #3F3F46;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
	top: -35px;
	right: 0;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

.skill-per::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #e4e4e7;
	top: -20px;
	right: 0;
	-webkit-transform: translateX(50%) rotate(45deg);
	-ms-transform: translateX(50%) rotate(45deg);
	transform: translateX(50%) rotate(45deg);
	border-radius: 2px;
}

.fill_bar {
	width: attr(per);
}

.fill_bar.animated {
	-webkit-animation: fillBars 1.5s;
	animation: fillBars 1.5s;
}

@-webkit-keyframes fillBars {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@keyframes fillBars {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

/* STRUCTURE */
.portfolio {
  background: #f6f6f6;
  z-index: 1;
  position: relative;
}
.portfolio h2 {
  text-align: center;
}
/* Create two equal columns */
.portfolio_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.portfolio_row:after {
  content:"";
  display: table;
  clear: both;
}
.portfolio_row p {
	margin: .5rem 0;
	text-align: justify;
}
.portfolio_left {
  text-align: right;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.portfolio_left h3 {
  margin-top: 0;
}
.portfolio_right {
  text-align: left;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.portfolio_right h3 {
  margin-top: 0;
}

.portfolio img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.portfolio_row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
  .portfolio_row:nth-child(1) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
  .portfolio_row:nth-child(3) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
  .portfolio_right, .portfolio_left {
    padding: 0 20px 20px 20px;
    text-align: left;
  }
  .hero_wrapper h1 {
    font-size: 2.8rem;
    padding: 2rem 0;
  }
  .hero_wrapper h3 {
    font-size: 1.8rem !important;
  }
}

































/* ========== Footer Section ========== */
.footer-distributed {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}

.footer-distributed .footer-left p {
	color: #3F3F46;
	font-size: 14px;
	margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #3F3F46;
	margin: 0 0 10px;
	padding: 0;
	-webkit-transition: ease .25s;
	-o-transition: ease .25s;
	transition: ease .25s;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: #3F3F46;
	-webkit-transition: ease .25s;
	-o-transition: ease .25s;
	transition: ease .25s;
}

.footer-distributed .footer-links a:before {
	content: "•";
	font-size: 20px;
	left: 0;
	color: #3F3F46;
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right i {
	color: #fff;
}

.footer-distributed .footer-right .fa-heart {
	color: #dc2626;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #e4e4e7;
	border-radius: 2px;
	font-size: 20px;
	color: #3F3F46;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.footer-distributed .footer-right #WithLove {
	color: #3F3F46;
	font-size: 14px;
	margin: 3px 0 0 3px;
}

.footer-distributed .footer-right a:hover {
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
  background: #3F3F46;
}

.footer-distributed p.footer-links a:hover {
	text-decoration: underline;
}
/* Media Queries */
@media (max-width: 600px) {
	.footer-distributed .footer-left, .footer-distributed .footer-right {
		text-align: center;
	}

	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}
